@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.pw-gate-container {
  height: 100vh;
  width: 100%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pw-form-box {
  background-color: none;
  padding: 40px;
  border-radius: 0px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  color: rgb(0, 0, 0);
  border: none;
  letter-spacing: 1px;
  border-radius: 1.5%;
}

.pw-logo {
 padding-top: 150; 
}
*
.pw-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pw-input {
  padding: 14px;
  border: 1px solid #000000;
  background: transparent;
  color: rgb(0, 0, 0);
  font-size: 12px;
  text-align: center;
  outline: none;
  letter-spacing: 1px;
}

.pw-input::placeholder {
  color: #aaa;
  font-size: 11px;
  text-transform: uppercase;
}

.pw-button {
  padding: 14px;
  background-color: #000000;
  color: white;
  font-size: 12px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s ease;
}

.pw-button:hover {
  background-color: #900202;
}

.pw-error {
  color: #ff4d4d;
  font-size: 10px;
  margin-top: -10px;
}

.pw-footer {
  font-size: 9px;
  margin-top: 30px;
  color: #cccccc;
  letter-spacing: 1px;
}

.pw-link {
  margin-top: 15px;
  font-size: 12px;
  color: #000000;
}

.pw-link a {
  color: #000000;
  text-decoration: none;
  font-weight: 300;
  opacity: 0.8;
  transition: 0.2s ease;
}

.pw-link a:hover {
  opacity: 1;
}
